<table class="table custom-table">
  <thead>
    <tr>
      <th scope="col" (click)="sortBy('id')">
        ID
        @if (sortColumn === 'id') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('date')">
        Date
        @if (sortColumn === 'date') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('client')">
        Client
        @if (sortColumn === 'client') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('adresse')">
        Adresse
        @if (sortColumn === 'adresse') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('datecommandeestime')">
        Date de commande estimée
        @if (sortColumn === 'datecommandeestime') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('horairePreferable')">
        Horaire Préférable
        @if (sortColumn === 'horairePreferable') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('dateLivre')">
        Date Estimée
        @if (sortColumn === 'dateLivraisonEstimee') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('dateLivre')">
        Date Livré
        @if (sortColumn === 'dateLivre') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col" (click)="sortBy('etat')">
        Statut
        @if (sortColumn === 'etat') {
          <span class="sort-indicator">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        }
      </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of sortedCommandes(); track $index) {
      <tr>
        <td scope="row">{{ item.reference }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.client.prenom }} {{ item.client.nom }}</td>
        <td>
          {{ this.adresseGouvService.createAddressString(item.client.adresse) }}
        </td>
        <td>{{ item.dateLivraisonEstimee }}</td>
        <td>{{ item.horairePreferable }}</td>
        <td>{{ item.dateLivre }}</td>
        <td>{{ item.dateLivraisonEstimee }}</td>
        <td>
          <span [ngClass]="{
              'custom-status-EN_LIVRAISON': item.etat === EtatCommande.EN_LIVRAISON,
              'custom-status-PLANIFIEE': item.etat === EtatCommande.PLANIFIEE,
              'custom-status-LIVREE': item.etat === EtatCommande.LIVREE,
              'custom-status-OUVERTE': item.etat === EtatCommande.OUVERTE
            }" class="custom-status">
            {{ item.etat }}
          </span>
        </td>
        <td>
          <button class="custom-action-btn modify">Modifier</button>
        </td>
      </tr>
    }
  </tbody>
</table>
