<header>
    <div class="header-left">
        <button routerLink="/dashboard">Tableau de bord</button>
        <button routerLink="/livraisons">Livraisons</button>
        <button routerLink="/gestion-equipes">Gestion d'équipes</button>
        <button routerLink="/planificateur">Planificateur</button>
    </div>
    <div class="header-right">
        <img src="assets/images/notification.png" alt="Notification " class="notification">
        <div class="profile-dropdown">
            <button class="profile-dropbtn">&#9776;</button>
            <div class="profile-dropdown-content">
                <button>Mon Profil</button>
                <button>Paramètres</button>
                <button>Déconnexion</button>
            </div>
        </div>
    </div>
</header>