<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center header-box mb-4">
    <h1 class="page-title">Les Équipes :</h1>
    <button class="custom-btn custom-btn-primary" (click)="showModal.set(true)">Nouvelle Équipe</button>
  </div>
  <div class="row">
    @for (item of equipeLivreurs(); track $index) {
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="custom-card">
          <div class="custom-card-body d-flex flex-column">
            <h5 class="custom-card-header">Equipe {{ item.id }}</h5>
            <p class="custom-card-text"><strong>Horaire : </strong>{{ item.horaire }}</p>
            <p class="custom-card-text">
              <strong>Statut : </strong>
              <span [ngClass]="{
                'custom-text-success': item.status === 'pret',
                'custom-text-warning': item.status === 'enLivraison',
                'custom-text-danger': item.status === 'nonDisponible'
              }" class="custom-status">
                {{ item.status }}
              </span>
            </p>
            <ul class="custom-list">
              <li>{{ item.livreurs[0].nom }} {{ item.livreurs[0].prenom }}</li>
              <li>{{ item.livreurs[1].nom }} {{ item.livreurs[1].prenom }}</li>
            </ul>
            <div class="custom-actions mt-auto">
  <button class="custom-btn custom-btn-primary btn-sm" (click)="modifierEquipe(item.id!)">Modifier</button>
  <button class="custom-btn custom-btn-danger btn-sm" (click)="supprimerEquipe(item.id!)">Supprimer</button>
</div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
@if (showModal()){
<div class="modal-overlay" >
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ editingEquipeId() ? 'Modifier une équipe' : 'Créer une nouvelle équipe' }}</h2>
      <button class="close-btn" (click)="annulerCreation()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- Partie du formulaire dans le modal pour la création ou la modification d'une équipe -->
      <form>
        <div class="form-group mb-3">
          <label for="livreur1">Sélectionnez le premier livreur</label>
          <select id="livreur1" class="form-control" [(ngModel)]="equipeForm().livreur1" name="livreur1">
            @for (l of availableLivreurs(); track $index) {
            <option [value]="l.id">
              {{ l.prenom }} {{ l.nom }}
            </option>
          }
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="livreur2">Sélectionnez le second livreur</label>
          <select id="livreur2" class="form-control" [(ngModel)]="equipeForm().livreur2" name="livreur2">
            @for (l of availableLivreurs(); track $index) {
            <option [value]="l.id">
              {{ l.prenom }} {{ l.nom }}
            </option>
          }
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="horaire">Horaire (par défaut 8-17h)</label>
          <input type="text" id="horaire" class="form-control" [(ngModel)]="equipeForm().horaire" name="horaire" placeholder="8-17h">
        </div>
        <div class="form-group mb-3">
          <label for="status">Statut</label>
          <select id="status" class="form-control" [(ngModel)]="equipeForm().status" name="status">
            <option [value]="StatusEquipeLivreurs.EnLivraison">En Livraison</option>
            <option [value]="StatusEquipeLivreurs.Ready">Ready</option>
            <option [value]="StatusEquipeLivreurs.NonAvailable">Non Disponible</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="custom-btn custom-btn-primary" (click)="editingEquipeId() ? enregistrerModification() : creerEquipe()">
        {{ editingEquipeId() ? 'Enregistrer les modifications' : 'Enregistrer' }}
      </button>
      <button class="custom-btn custom-btn-danger" (click)="annulerCreation()">Annuler</button>
    </div>
  </div>
</div>
}