<!-- <div class="livraisons">
    <h2>Liste des Livraisons:</h2>
    <ul>
        @for (livr of tourneeActive().livraisons; track livr.client.adresse; let idx = $index) {
        <li><a href="#" class="client-link">Livraison {{ idx+1 }}</a>
        <span><b>Nom et Prenom:</b> {{ livr.client.nom }} {{ livr.client.prenom }}</span>
        <br>    
        <span><b>Adresse:</b> {{ livr.client.adresse }}</span>
        <br>
        @if (livr.etat === "effectuee") {
            <span><b>Status: </b>✅</span>}
        @else {
            <span><b>Status: </b>❌</span>}
        </li>
    }
    </ul>
</div> -->