<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center header-box mb-4">
      <h1 class="page-title">Les Livreurs :</h1>
      <button class="custom-btn custom-btn-primary" (click)="showModal.set(true)">Nouveau Livreur</button>
    </div>
    <div class="row">
      @for (item of livreurs(); track $index) {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="custom-card">
            <div class="custom-card-body d-flex flex-column">
              <h5 class="custom-card-header">Livreur {{ item.idEmploye }}</h5>
              <p class="custom-card-text"><strong>Nom : </strong>{{ item.nom }}</p>
              <p class="custom-card-text"><strong>Prénom : </strong>{{ item.prenom }}</p>
              <p class="custom-card-text"><strong>Téléphone : </strong>{{ item.telephone }}</p>
              <p class="custom-card-text"><strong>aPermis : </strong>{{ item.aPermis }}</p>
              <p class="custom-card-text"><strong>Email : </strong>{{ item.email }}</p>
              <p class="custom-card-text"><strong>Entrepôt : </strong>{{ item.entrepot }}</p>
              <p class="custom-card-text">
                <strong>Statut : </strong>
                <span [ngClass]="{
                  'custom-text-success': item.affecte === true,
                  'custom-text-warning': item.affecte === false
                }" class="custom-status">
                  {{ item.affecte ? 'Affecté' : 'Non Affecté' }}
                </span>
              </p>
              <div class="custom-actions mt-auto">
                <button class="custom-btn custom-btn-primary btn-sm" (click)="modifierLivreur(item.idEmploye!)">Modifier</button>
                <button class="custom-btn custom-btn-danger btn-sm" (click)="supprimerLivreur(item.idEmploye!)">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  
  @if (showModal()){
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{ editingLivreurId() ? 'Modifier un livreur' : 'Créer un nouveau livreur' }}</h2>
        <button class="close-btn" (click)="annulerCreation()">&times;</button>
      </div>
      <div class="modal-body">
        <!-- Partie du formulaire dans le modal pour la création ou la modification d'un livreur -->
        <form>
          <div class="form-group mb-3">
            <label for="nom">Nom</label>
            <input type="text" id="nom" class="form-control" [(ngModel)]="livreurForm().nom" name="nom">
          </div>
          <div class="form-group mb-3">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" class="form-control" [(ngModel)]="livreurForm().prenom" name="prenom">
          </div>
          <div class="form-group mb-3">
            <label for="telephone">Téléphone</label>
            <input type="text" id="telephone" class="form-control" [(ngModel)]="livreurForm().telephone" name="telephone">
          </div>
          <div class="form-group mb-3">
            <label for="photoURL">Photo URL</label>
            <input type="text" id="photoURL" class="form-control" [(ngModel)]="livreurForm().photoURL" name="photoURL">
          </div>
          <div class="form-group mb-3">
            <label for="photoURL">aPermis</label>
            <input type="text" id="photoURL" class="form-control" [(ngModel)]="livreurForm().aPermis" name="aPermis">
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="livreurForm().email" name="email">
          </div>
          <div class="form-group mb-3">
            <label for="entrepot">Entrepôt</label>
            <input type="text" id="entrepot" class="form-control" [(ngModel)]="livreurForm().entrepot" name="entrepot">
          </div>
          <div class="form-group mb-3">
            <label for="status">Statut</label>
            <select id="status" class="form-control" [(ngModel)]="livreurForm().status" name="status">
              <option value="affecté">Affecté</option>
              <option value="nonAffecté">Non Affecté</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="custom-btn custom-btn-primary" (click)="editingLivreurId() ? enregistrerModification() : creerLivreur()">
          {{ editingLivreurId() ? 'Enregistrer les modifications' : 'Enregistrer' }}
        </button>
        <button class="custom-btn custom-btn-danger" (click)="annulerCreation()">Annuler</button>
      </div>
    </div>
  </div>
  }
  