<div class="drag-drop-container" cdkDropListGroup>
    <div class="list-container">
      <h3>Equipes disponibles</h3>
      <div
        cdkDropList
        #availableLivreursList="cdkDropList"
        [cdkDropListData]="availableLivreurs"
        [cdkDropListConnectedTo]="[selectedLivreursList]"
        class="list available"
        (cdkDropListDropped)="dropLivreurs($event)">
        <div *ngFor="let livreur of availableLivreurs" cdkDrag class="list-item">
          {{ livreur.numEquipe }} - {{ livreur.livreurs[0].prenom }} {{ livreur.livreurs[0].nom }} et {{ livreur.livreurs[1].prenom }} {{ livreur.livreurs[1].nom }}
        </div>
      </div>
    </div>
    
    <!-- Selected Livreurs -->
    <div class="list-container">
      <h3>Equipes sélectionnés</h3>
      <div
        cdkDropList
        #selectedLivreursList="cdkDropList"
        [cdkDropListData]="selectedLivreurs"
        [cdkDropListConnectedTo]="[availableLivreursList]"
        class="list selected"
        (cdkDropListDropped)="dropLivreurs($event)">
        <div *ngFor="let livreur of selectedLivreurs" cdkDrag class="list-item">
          {{ livreur.numEquipe }} - {{ livreur.livreurs[0].prenom }} {{ livreur.livreurs[0].nom }} et {{ livreur.livreurs[1].prenom }} {{ livreur.livreurs[1].nom }}
        </div>
      </div>
    </div>
  </div>
  
  <div class="drag-drop-container" cdkDropListGroup>
    <!-- Available Commandes -->
    <div class="list-container">
      <h3>Commandes sélectionnés</h3>
      <div
        cdkDropList
        #availableCommandesList="cdkDropList"
        [cdkDropListData]="availableCommandes"
        [cdkDropListConnectedTo]="[selectedCommandesList]"
        class="list available"
        (cdkDropListDropped)="dropCommandes($event)">
        <div *ngFor="let commande of availableCommandes" cdkDrag class="list-item">
          ID: {{ commande.reference }} - {{ commande.client.prenom }} {{ commande.client.nom }}
        </div>
      </div>
    </div>
    
    <!-- Selected Commandes -->
    <div class="list-container">
      <h3>Commandes sélectionnés</h3>
      <div
        cdkDropList
        #selectedCommandesList="cdkDropList"
        [cdkDropListData]="selectedCommandes"
        [cdkDropListConnectedTo]="[availableCommandesList]"
        class="list selected"
        (cdkDropListDropped)="dropCommandes($event)">
        <div *ngFor="let commande of selectedCommandes" cdkDrag class="list-item">
          ID: {{ commande.reference }} - {{ commande.client.prenom }} {{ commande.client.nom }}
        </div>
      </div>
    </div>
  </div>
  